<div class="contact-page">
    <div class="container">
        <div class="row pt-5">
            <h1 class="services-head">Contact Us</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 col-sm-12 p-3 mt-5">
                <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
                    style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                    <div class="hi-icon service-icon"><i class='bx bx-store-alt'></i></div>
                    <h1>Sales</h1>
                    <div class="row align-cntr p-1 pt-3 text-start">
                        <div class="col-1"><i class='bx bx-mobile-vibration btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="tel:7377799937"> +91 73777 99937</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass1" (click)="copyText('7377799937', 'cl-1')" matTooltip="Copy"></i></div>
                    </div>
                    <div class="row align-cntr p-1 text-start">
                        <div class="col-1"><i class='bx bx-mail-send btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="mailto:accounts@engispider.com">accounts@engispider.com</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass2" (click)="copyText('accounts@engispider.com', 'cl-2')" matTooltip="Copy"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 p-3 mt-5">
                <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
                    style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                    <div class="hi-icon service-icon"><i class='bx bxs-phone-call'></i></div>
                    <h1>Inquery</h1>
                    <div class="row align-cntr p-1 pt-3 text-start">
                        <div class="col-1"><i class='bx bx-mobile-vibration btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="tel:7377799937"> +91 73777 99937</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass3" (click)="copyText('7377799937', 'cl-3')" matTooltip="Copy"></i></div>
                    </div>
                    <div class="row align-cntr p-1 text-start">
                        <div class="col-1"><i class='bx bx-mail-send btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="mailto:info@engispider.com">info@engispider.com</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass4" (click)="copyText('info@engispider.com', 'cl-4')" matTooltip="Copy"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 p-3 pb-5 mt-5">
                <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
                    style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                    <div class="hi-icon service-icon"><i class='bx bx-user-voice'></i></div>
                    <h1>Support</h1>
                    <div class="row align-cntr p-1 pt-3 text-start">
                        <div class="col-1"><i class='bx bx-mobile-vibration btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="tel:07873782505"> +91 78737 82505</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass5" (click)="copyText('07873782505', 'cl-5')" matTooltip="Copy"></i></div>
                    </div>
                    <div class="row align-cntr p-1 text-start">
                        <div class="col-1"><i class='bx bx-mail-send btm-p'></i></div>
                        <div class="col-9"><a class="btm-p" href="mailto:support@engispider.com">support@engispider.com</a></div>
                        <div class="col-1"><i class='btm-p' [class]="iconClass6" (click)="copyText('support@engispider.com', 'cl-6')" matTooltip="Copy"></i></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>