<mat-toolbar>
    <img src="assets/EngiSpider fnl.png" alt="Logo" (click)="routeToHome()">
    <span class="fill-remaining-space"></span>
    <div class="nav-item d-none d-md-block">
        <button mat-button class="underLine prominent-nav" *ngIf="!isHomePageRoute()" (click)="routeToHome()">Home</button>
        <button mat-button class="underLine prominent-nav" (click)="scrollToSection('services')">Our Services</button>
        <button mat-button class="underLine prominent-nav" *ngIf="!isInternshipsPageRoute()" (click)="routeToInternships()">Internships</button>
        <button mat-button class="underLine" *ngIf="!isInqueryPageRoute()" (click)="routeToInquery()">Send Inquery</button>
        <button mat-button class="underLine" *ngIf="!isDemoPageRoute()" (click)="routeToDemo()">Book a Demo</button>
        <button mat-button class="underLine" *ngIf="!isContactPageRoute()" (click)="routeToContacts()">Contact Us</button>
    </div>
    <div class="mobile-nav d-block d-md-none">
        <nav class="bottom-nav">
            <button mat-button class="prominent-nav" *ngIf="!isHomePageRoute()" (click)="routeToHome()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="prominent-nav" (click)="scrollToSection('services')" routerLinkActive="active">
                <mat-icon>build</mat-icon>
                <span>Services</span>
            </button>
            <button mat-button class="prominent-nav" *ngIf="!isInternshipsPageRoute()" (click)="routeToInternships()" routerLinkActive="active">
                <mat-icon>school</mat-icon>
                <span>Internships</span>
            </button>
            <button mat-button *ngIf="!isInqueryPageRoute()" (click)="routeToInquery()" routerLinkActive="active">
                <mat-icon>mail</mat-icon>
                <span>Inquiry</span>
            </button>
            <button mat-button *ngIf="!isDemoPageRoute()" (click)="routeToDemo()" routerLinkActive="active">
                <mat-icon>event</mat-icon>
                <span>Demo</span>
            </button>
            <button mat-button *ngIf="!isContactPageRoute()" (click)="routeToContacts()" routerLinkActive="active">
                <mat-icon>contacts</mat-icon>
                <span>Contact</span>
            </button>
        </nav>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer-bottom">
    <p>&copy; Copyright 2024 | All Rights Reserved</p>
    <p> <a href="https://engispider.com" target="_blank">Engispider Technologies</a></p>
</div>