<mat-toolbar>
    <img src="assets/EngiSpider-fnl.png" alt="Logo" (click)="routeToHome()">
    <span class="fill-remaining-space"></span>
    <div class="nav-item d-none d-md-block">
        <button mat-button class="underLine prominent-nav" (click)="routeToHome()">Home</button>
        <button mat-button class="underLine prominent-nav" (click)="scrollToSection('services')">Our Services</button>
        <button mat-button class="underLine prominent-nav" (click)="routeToInternships()">Internships</button>
        <button mat-button class="underLine prominent-nav" (click)="routeToInquery()">Send Inquery</button>
        <button mat-button class="underLine prominent-nav" (click)="routeToDemo()">Book a Demo</button>
        <button mat-button class="underLine prominent-nav" (click)="routeToContacts()">Contact Us</button>
    </div>
    
    <!-- Small Screen Navigation -->
    <div class="d-block d-md-none">
        <div class="button-container">
            <button mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Menu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="routeToHome()">HOME</button>
            <button mat-menu-item (click)="scrollToSection('services')">Our Services</button>
            <button mat-menu-item (click)="routeToInternships()">Internships</button>
            <button mat-menu-item (click)="routeToInquery()">Send Inquery</button>
            <button mat-menu-item (click)="routeToDemo()">Book a Demo</button>
            <button mat-menu-item (click)="routeToContacts()">Contact Us</button>
        </mat-menu>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer-bottom">
    <p>&copy; Copyright 2024 | All Rights Reserved</p>
    <p> <a href="https://engispider.com" target="_blank">Engispider Infotech Private Limited</a></p>
</div>