

.mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: var(--orange-color);
    --mat-mdc-fab-color: var(--white-color);
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.nav-item button {
    margin: 5px;
    color: var(--black-color);
    font-size: 13px;
    font-weight: 450;
}

.prominent-nav {
    font-size: 1.1rem;
    font-weight: 600;
}

.bottom-nav .prominent-nav {
    font-size: 0.9rem;
    font-weight: 600;
}

mat-toolbar {
    z-index: 12;
    position: fixed;
    background: var(--white-color);
    height: 90px;
}

mat-toolbar img {
    height: 75px;
    width: 195px;
    cursor: pointer;
    padding-left: 30px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    color: var(--black-color);
    font-size: 0.8em;
    background-color: var(--white-color);
    padding: 10px;
    height: 50px;
}

.footer-bottom p {
    font-weight: bold;
    margin: 0%;
}

.footer-bottom p a {
    text-decoration: none;
    color: var(--orange-color);
}

@media screen and (max-width: 768px) {
    .social img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom .col {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-bottom .icons a {
        margin: 5px;
    }

    .nav-item.d-none {
        display: none;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }

    .icons {
        gap: 5px !important;
    }

    .eng-logo p {
        font-size: 10px !important;
    }
}