.home-page {
    overflow: hidden;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.nav-item button {
    margin: 5px;
    color: var(--black-color);
}

mat-toolbar {
    z-index: 12;
    position: fixed;
    background: var(--white-color);
    height: 90px;
}

mat-toolbar img {
    height: 80px;
    width: 200px;
    cursor: pointer;
    padding-left: 30px;
}

.slide-image {
    width: 100% !important;
    height: 600px;
}

.text-1 {
    position: absolute;
    top: 40%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
}

.para-1 {
    position: absolute;
    top: 50%;
    left: 0%;
    color: rgb(196, 193, 193);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 25px;
}

.box-1 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(122, 48, 206, 0.336);
    clip-path: circle(50% at 50% 50%);
}

.text-2 {
    position: absolute;
    top: 30%;
    left: 22%;
    color: var(--black-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
}

.para-2 {
    position: absolute;
    top: 45%;
    left: 8%;
    width: 85%;
    color: var(--greay-color);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
}

.box-2 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(179, 16, 16, 0.23);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.text-3 {
    position: absolute;
    top: 20%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    width: 75%;
    font-size: 50px;
}

.para-3 {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 70%;
    color: #e7e7e7;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
}

.box-3 {
    position: absolute;
    width: 60%;
    height: 300px;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #f97a2073;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.text-4 {
    position: absolute;
    top: 23%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    width: 70%;
    font-size: 40px;
}

.para-4 {
    position: absolute;
    top: 70%;
    left: 16%;
    width: 70%;
    color: #cbdbde;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
}

.box-4 {
    position: absolute;
    width: 60%;
    height: 385px;
    top: 44%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: rgb(79 74 74 / 74%);
    clip-path: ellipse(50% 43% at 50% 50%);
}

.zoom {
    animation: zoomInOut 15s infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.why-img {
    padding: 20px;
    border-radius: 40px;
}

.about-sec {
    padding: 80px;
    background: rgb(255, 254, 250);
    background: linear-gradient(90deg, rgba(255, 254, 250, 1) 0%, rgba(199, 199, 191, 1) 47%, rgba(232, 219, 201, 1) 100%);
}

.why-img-box {
    position: relative;
}

.why-icon-1 {
    font-size: 45px;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    top: -8%;
    right: 20%;
    width: 65px;
    transition: transform 0.8s ease-in-out;
}

.why-icon-2 {
    font-size: 45px;
    background-color: var(--greay-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    top: -1%;
    right: 5%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-3 {
    font-size: 45px;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -2%;
    left: 5%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-4 {
    font-size: 45px;
    background-color: var(--greay-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -8%;
    left: 20%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-1:hover,
.why-icon-2:hover,
.why-icon-3:hover,
.why-icon-4:hover {
    transform: scale(1.3);
}

.why-heading h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: var(--black-color);
    line-height: 1.2;
}

.why-name {
    color: var(--orange-color);
    font-size: 45px;
}

.why-para p {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--greay-color);
}

.services {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-image: url('src/assets/back-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #686d76ab;
}

.services .row {
    z-index: 1;
}

.service-item {
    min-height: 215px;
    width: 100%;
    border: 2px solid #ededed;
    border-radius: 8px;
    position: relative;
    padding: 30px 30px;
    text-align: center;
    transition: transform 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.315);
}

.service-item p {
    font-weight: 500;
    color: var(--white-color);
}

.service-item h1 {
    color: rgba(0, 0, 0, 0.555);
    font-weight: 600;
    letter-spacing: 1.5px;
}

.service-icon {
    width: 100px;
    height: 100px;
    margin: 8px auto;
    position: relative;
    margin-top: -85px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 0px;
    background-color: var(--white-color);
}

.service-icon img {
    max-width: 100%;
    margin-top: 10px;
}

.service-item:hover {
    transform: scale(1.1);
}

.text-centre {
    text-align: center;
}

.services-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.767);
    z-index: 5;
    line-height: 1;
}

.table-box {
    padding: 3rem !important;
}

.table-inn {
    border-radius: 10px;
    background-color: var(--greay-color);
    padding: 30px;
}

.table-head {
    color: var(--white-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
}

.table-img {
    text-align: center;
}

.table-image {
    height: auto;
    width: 50%;
}

.table-btm {
    width: 200px;
    color: var(--white-color);
    border-color: var(--orange-color);
}

.table-btm:hover {
    background-color: var(--orange-color);
}

ul {
    margin: 0;
    margin-top: 6px;
    padding: 0;
    list-style-type: none;
    color: var(--greay-color);
    text-align: center;
}

li {
    padding: 0 15px;
    border-right: 1.3px solid #a5a5a5;
    font-size: 18px;
}

li:last-child {
    border-right: none;
}

.techno {
    padding: 80px;
    background: rgb(238, 238, 238);
    background: linear-gradient(356deg, rgba(238, 238, 238, 1) 31%, rgba(238, 136, 58, 0.8911939775910365) 74%);
}

.techno-name {
    color: var(--orange-color);
}

.techno-angular {
    color: #dd1b16;
}

.techno-react {
    color: #61DBFB;
}

.techno-js {
    color: #f0db4f;
}

.techno-node {
    color: #54ad4c;
}

.techno-java {
    color: #53af22;
}

.techno-md {
    color: #589636;
}

.techno-sql {
    color: #00758F;
}

.techno-logo-name {
    font-weight: 500;
}

.techno-logo-box {
    position: relative;
    height: 300px;
    width: 300px;
}

.techno-logo {
    height: auto;
    width: 65px;
    position: absolute;
    transition: transform 0.8s ease-in-out;
}

.techno-logo:hover {
    transform: scale(1.1);
}

.techno-logo-1 {
    top: 0%;
    left: 10%;
}

.techno-logo-2 {
    top: 0%;
    left: 70%;
}

.techno-logo-3 {
    top: 0%;
    left: 130%;
}

.techno-logo-4 {
    top: 35%;
    left: 40%;
}

.techno-logo-5 {
    top: 35%;
    left: 105%;
}

.techno-logo-6 {
    top: 70%;
    left: 60%;
}

.techno-logo-7 {
    top: 70%;
    left: 90%;
}

.techno-logo-8 {
    top: 35%;
    left: 70%;
}

.rivew-box {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--white-color);
}

.rivew-card {
    margin: 20px;
    padding: 20px;
    border-color: var(--orange-color);
    transition: transform 0.8s ease-in-out;
}

.rivew-card:hover {
    transform: scaleY(1.1);
}

.rivew-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: var(--greay-color);
    z-index: 5;
    line-height: 1;
}

.student-review {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: var(--black-color);
}

.student-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
    padding-top: 8px;
}

.student-company {
    color: var(--greay-color);
}

.footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M748.0479177732437 243.76969989526597L806.1435444399069 306.0696321218711 810.3478499998489 185.67407322860282z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1231.347164001536 260.66944305296903L1205.059574018669 162.56282162837124 1106.9529525940711 188.85041161123812 1133.2405425769382 286.95703303583593z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M177.925%2c230.701C196.821%2c229.805%2c211.854%2c216.783%2c221.371%2c200.435C230.96%2c183.963%2c236.132%2c163.753%2c226.461%2c147.329C216.897%2c131.086%2c196.774%2c126.594%2c177.925%2c126.647C159.192%2c126.7%2c140.116%2c131.926%2c129.859%2c147.601C118.629%2c164.763%2c116.438%2c187.168%2c126.707%2c204.922C136.964%2c222.654%2c157.463%2c231.671%2c177.925%2c230.701' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1327.8317346517822 442.38799455450805L1224.1038366355153 470.1818010605446 1355.6255411578188 546.1158925707749z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M698.054%2c593.528C741.404%2c593.471%2c775.355%2c558.509%2c794.155%2c519.448C810.546%2c485.392%2c803.343%2c446.817%2c784.409%2c414.107C765.519%2c381.472%2c735.762%2c353.299%2c698.054%2c353.423C660.514%2c353.546%2c631.525%2c382.206%2c612.676%2c414.671C593.729%2c447.305%2c585.26%2c485.647%2c601.516%2c519.701C620.221%2c558.885%2c654.635%2c593.585%2c698.054%2c593.528' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M543.0514387902501 669.5713042151531L666.6448390504925 589.3088116170526 462.7889461921496 545.9779039549107z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1282.9987462022782 268.3675417739999L1157.2404685365552 385.4151615071293 1300.070465643546 431.82344078007964z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    color: var(--white-color);
    padding: 35px;
}

.a-tag {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-logo {
    height: auto;
    width: 180px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    color: var(--black-color);
    font-size: 0.8em;
    background-color: var(--white-color);
    padding: 10px;
    height: 50px;
}

.footer-bottom p {
    font-weight: bold;
    margin: 0%;
}

.footer-bottom p a {
    text-decoration: none;
    color: var(--orange-color);
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

.contact-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.767);
    line-height: 1;
    padding: 10px;
}

.flex-end {
    align-items: flex-end;
}

.footer-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.767);
    line-height: 1;
    padding-bottom: 12px;
    padding-top: 12px;
}

.footer-para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.767);
}

@media screen and (max-width: 768px) {

    mat-toolbar img {
        height: 75px;
        width: 175px;
        padding-left: 0px;
    }


    .slide-image {
        width: 100% !important;
        height: 350px;
    }

    .text-1 {
        font-weight: 550;
        font-size: 20px;
        top: 30%;
        left: 10%;
    }

    .para-1 {
        left: 5%;
        font-size: 12px;
    }

    .box-1 {
        width: 260px;
        height: 250px;
        top: 49%;
        left: 30%;
    }

    .box-2 {
        width: 325px;
        height: 300px;
        left: 40%;
    }

    .text-2 {
        top: 34%;
        left: 17%;
        font-size: 20px;
    }

    .para-2 {
        font-size: 10px;
    }

    .box-3 {
        width: 350px;
        height: 100px;
        top: 40%;
    }

    .text-3 {
        font-size: 15px;
        top: 27%;
        left: 15%;
    }

    .para-3 {
        top: 60%;
        left: 10%;
        font-size: 10px;
    }

    .box-4 {
        width: 65%;
        height: 200px;
    }

    .text-4 {
        font-size: 15px;
    }

    .para-4 {
        top: 65%;
        font-size: 12px;
    }

    .about-sec {
        padding: 20px;
        padding-top: 40px;
    }

    .techno {
        padding: 20px;
        padding-top: 40px;
    }


    .why-icon-2 {
        right: -2%;
    }

    .why-icon-3 {
        left: -2%;
    }

    .services {
        background-image: url('src/assets/back-img-mob.jpg');
    }

    .table-head {
        font-size: 2rem;
    }

    .techno-logo-1 {
        top: 0%;
        left: -5%;
    }

    .techno-logo-2 {
        top: 0%;
        left: 40%;
    }

    .techno-logo-3 {
        top: 0%;
        left: 85%;
    }

    .techno-logo-4 {
        top: 35%;
        left: 17%;
    }

    .techno-logo-5 {
        top: 35%;
        left: 70%;
    }

    .techno-logo-6 {
        top: 70%;
        left: 33%;
    }

    .techno-logo-7 {
        top: 70%;
        left: 60%;
    }

    .techno-logo-8 {
        top: 35%;
        left: 44%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .why-heading h1 {
        font-size: 32px;
    }

    .why-name {
        font-size: 38px;
    }

    .why-para p {
        font-size: 20px;
    }

    .services {
        background-image: url('src/assets/back-img-mob.jpg');
    }

    .techno-logo-1 {
        top: 0%;
        left: -5%;
    }

    .techno-logo-2 {
        top: 0%;
        left: 40%;
    }

    .techno-logo-3 {
        top: 0%;
        left: 85%;
    }

    .techno-logo-4 {
        top: 35%;
        left: 17%;
    }

    .techno-logo-5 {
        top: 35%;
        left: 70%;
    }

    .techno-logo-6 {
        top: 70%;
        left: 33%;
    }

    .techno-logo-7 {
        top: 70%;
        left: 60%;
    }

    .techno-logo-8 {
        top: 35%;
        left: 44%;
    }
}