.home-page {
    overflow: hidden;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.nav-item button {
    margin: 5px;
    color: var(--black-color);
}

mat-toolbar {
    z-index: 12;
    position: fixed;
    background: var(--white-color);
    height: 90px;
}

mat-toolbar img {
    height: 80px;
    width: 200px;
    cursor: pointer;
    padding-left: 30px;
}

.slide-image {
    width: 100% !important;
    height: 600px;
}

.text-1 {
    position: absolute;
    top: 40%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
}

.para-1 {
    position: absolute;
    top: 50%;
    left: 0%;
    color: rgb(196, 193, 193);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 25px;
}

.box-1 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(122, 48, 206, 0.336);
    clip-path: circle(50% at 50% 50%);
}

.text-2 {
    position: absolute;
    top: 30%;
    left: 22%;
    color: var(--black-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
}

.para-2 {
    position: absolute;
    top: 45%;
    left: 8%;
    width: 85%;
    color: var(--greay-color);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
}

.box-2 {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(179, 16, 16, 0.23);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.text-3 {
    position: absolute;
    top: 20%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    width: 75%;
    font-size: 50px;
}

.para-3 {
    position: absolute;
    top: 40%;
    left: 16%;
    width: 70%;
    color: #e7e7e7;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
}

.box-3 {
    position: absolute;
    width: 60%;
    height: 300px;
    top: 28%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #f97a2073;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.text-4 {
    position: absolute;
    top: 23%;
    left: 16%;
    color: var(--white-color);
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 1px;
    width: 70%;
    font-size: 40px;
}

.para-4 {
    position: absolute;
    top: 70%;
    left: 16%;
    width: 70%;
    color: #cbdbde;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 30px;
}

.box-4 {
    position: absolute;
    width: 60%;
    height: 385px;
    top: 44%;
    left: 52%;
    transform: translate(-50%, -50%);
    background-color: rgb(79 74 74 / 74%);
    clip-path: ellipse(50% 43% at 50% 50%);
}

.zoom {
    animation: zoomInOut 15s infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.why-img {
    padding: 20px;
    border-radius: 40px;
}

.about-sec {
    padding: 80px;
    background: rgb(255, 254, 250);
    background: linear-gradient(90deg, rgba(255, 254, 250, 1) 0%, rgba(199, 199, 191, 1) 47%, rgba(232, 219, 201, 1) 100%);
}

.why-img-box {
    position: relative;
}

.why-icon-1 {
    font-size: 45px;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    top: -8%;
    right: 20%;
    width: 65px;
    transition: transform 0.8s ease-in-out;
}

.why-icon-2 {
    font-size: 45px;
    background-color: var(--greay-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    top: -1%;
    right: 5%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-3 {
    font-size: 45px;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -2%;
    left: 5%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-4 {
    font-size: 45px;
    background-color: var(--greay-color);
    color: var(--white-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -8%;
    left: 20%;
    width: 65px;
    transition: transform 1s ease-in-out;
}

.why-icon-1:hover,
.why-icon-2:hover,
.why-icon-3:hover,
.why-icon-4:hover {
    transform: scale(1.3);
}

.why-heading h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: var(--black-color);
    line-height: 1.2;
}

.why-name {
    color: var(--orange-color);
    font-size: 45px;
}

.why-para p {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--greay-color);
}

.services {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-image: url('src/assets/back-img.jpg');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    position: relative;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#686d76ab;
}

.services .row {
    z-index: 1; 
}

.service-item {
    min-height: 215px;
    width: 100%;
    border: 2px solid #ededed;
    border-radius: 8px;
    position: relative;
    padding: 30px 30px;
    text-align: center;
    transition: transform 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.315);
}

.service-item p{
    font-weight: 500;
    color: var(--white-color);
}

.service-item h1{
    color: rgba(0, 0, 0, 0.555);
    font-weight: 600;
    letter-spacing: 1.5px;
}

.service-icon {
    width: 100px;
    height: 100px;
    margin: 8px auto;
    position: relative;
    margin-top: -85px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 0px;
    background-color: var(--white-color);
}

.service-icon img {
    max-width: 100%;
    margin-top: 10px;
}

.service-item:hover {
    transform: scale(1.1);
}

.text-centre {
    text-align: center;
}

.services-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.767);
    z-index: 5;
    line-height: 1;
}

.table-box{
    padding: 3rem !important;
}

.table-inn{
    border-radius: 10px;
    background-color: var(--greay-color);
    padding: 30px;
}

.table-head {
    color: var(--white-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
}

.table-img {
    text-align: center;
}

.table-image {
    height: auto;
    width: 50%;
}

.table-btm {
    width: 200px;
    color: var(--white-color);
    border-color: var(--orange-color);
}

.table-btm:hover {
    background-color: var(--orange-color);
}



ul {
    margin: 0;
    margin-top: 6px;
    padding: 0;
    list-style-type: none;
    color: var(--greay-color);
    text-align: center;
}

li {
    padding: 0 15px;
    border-right: 1.3px solid #a5a5a5;
    font-size: 18px;
}

li:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    mat-toolbar img {
        height: 75px;
        width: 175px;
        padding-left: 0px;
    }


    .slide-image {
        width: 100% !important;
        height: 350px;
    }

    .text-1 {
        font-weight: 550;
        font-size: 20px;
        top: 30%;
        left: 10%;
    }

    .para-1 {
        left: 5%;
        font-size: 12px;
    }

    .box-1 {
        width: 260px;
        height: 250px;
        top: 49%;
        left: 30%;
    }

    .box-2 {
        width: 325px;
        height: 300px;
        left: 40%;
    }

    .text-2 {
        top: 34%;
        left: 17%;
        font-size: 20px;
    }

    .para-2 {
        font-size: 10px;
    }

    .box-3 {
        width: 350px;
        height: 100px;
        top: 40%;
    }

    .text-3 {
        font-size: 15px;
        top: 27%;
        left: 15%;
    }

    .para-3 {
        top: 60%;
        left: 10%;
        font-size: 10px;
    }

    .box-4 {
        width: 65%;
        height: 200px;
    }

    .text-4 {
        font-size: 15px;
    }

    .para-4 {
        top: 65%;
        font-size: 12px;
    }

    .about-sec {
        padding: 20px;
        padding-top: 40px;
    }

    .why-icon-2 {
        right: -2%;
    }

    .why-icon-3 {
        left: -2%;
    }

    .services {
        background-image: url('src/assets/back-img-mob.jpg');
    }

    .table-head {
        font-size: 2rem;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .why-heading h1 {
        font-size: 32px;
    }

    .why-name {
        font-size: 38px;
    }

    .why-para p {
        font-size: 20px;
    }

    .services {
        background-image: url('src/assets/back-img-mob.jpg');
    }
}