<div class="home-page">


  <div class="slider-frame">
    <owl-carousel-o [options]="customOptionsDisplayImage" (translated)="onTranslated($event)">
      <ng-template carouselSlide>
        <div class="outer-div">
          <img class="slide-image" [ngClass]="{'zoom': isZooming(0)}" src="assets/image-1.jpg"
            alt="Performance Matters">
          <div class="box-1">
            <h1 class="text-1">Performance Matters</h1>
            <p class="para-1">Our coding technology empowers high-end performance.</p>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="outer-div">
          <img class="slide-image" [ngClass]="{'zoom': isZooming(1)}" src="assets/image-2.jpg"
            alt="Precision in Planning">
          <div class="box-2">
            <h1 class="text-2">Precision in Planning</h1>
            <p class="para-2">Streamlining processes through meticulous and strategic planning strategies for optimal
              outcomes.</p>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="outer-div">
          <img class="slide-image" [ngClass]="{'zoom': isZooming(2)}" src="assets/image-4.jpg" alt="Dedicated Support">
          <div class="box-3">
            <h1 class="text-3">Dedicated Support</h1>
            <p class="para-3">Expert assistance available whenever you need it, ensuring seamless operations.</p>
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="outer-div">
          <img class="slide-image" [ngClass]="{'zoom': isZooming(3)}" src="assets/image-3.jpg"
            alt="We specialize in designing">
          <div class="box-4">
            <h1 class="text-4">We specialize in designing, developing, and hosting your digital solutions.</h1>
            <p class="para-4">All services in a single location</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  <section>
    <div class="about-sec">
      <div class="container ">
        <div class="row">
          <div class="col-sm-12 col-md-6 ">
            <figure class="why-img-box">
              <img class="img-fluid why-img" src="assets/computer.jpg" alt="Why Engispider">
              <i class='bx bx-check-shield col-6 why-icon-1'></i>
              <i class='bx bx-timer col-6 why-icon-2'></i>
              <i class='bx bxl-internet-explorer col-6 why-icon-3'></i>
              <i class='bx bx-support col-6 why-icon-4'></i>
            </figure>
            <ul class="d-inline-flex">
              <li>Allways Online</li>
              <li>Allways Ready to Hear You</li>
              <li>Safe & Secure</li>
              <li>Your Time Matters</li>
            </ul>
          </div>

          <div class="col-sm-12 col-md-6 text-padding">
            <div class="why-heading">
              <h1>Transform with <span class="why-name">Engispider</span></h1>
            </div>
            <div class="why-para">
              <h1>Engispider Technologies</h1><p>Your trusted partner in digital transformation. We specialize in providing comprehensive
                ERP web applications designed to streamline and optimize your business processes. Our solutions are
                tailored to meet the unique needs of your organization, ensuring efficiency, accessibility, and
                scalability.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="services-section">
    <div class="services p-5">
      <div class="row text-centre">
        <h1 class="services-head">
          Our Services
        </h1>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.9s" data-wow-delay="1.9s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bxl-internet-explorer'></i></div>
            <h1>Custom Website Development</h1>
            <p>Elevate your online presence with our custom website development services. Whether you need a stunning
              homepage, a high-converting landing page, or a complete website overhaul, our team is here to bring your
              vision to life.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-laptop'></i></div>
            <h1>Software Development</h1>
            <p>Utilizing Angular, Java Spring Boot, MongoDB to create robust, scalable software solutions at EngiSpider
              Technologies.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-desktop'></i></div>
            <h1>Web Application Development</h1>
            <p>Crafting dynamic web applications that enhance user experience and business efficiency with innovative
              technologies.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-palette'></i></div>
            <h1>Website Designing</h1>
            <p>Designing visually appealing and functional websites that reflect your brand identity and engage your
              audience effectively.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-cart'></i></div>
            <h1>E-commerce Development</h1>
            <p>Building tailored e-commerce platforms that drive sales and customer satisfaction through seamless user
              interfaces and secure transactions.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="service-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-devices'></i></div>
            <h1>All Types of Software Solutions</h1>
            <p>Providing comprehensive, customizable software solutions to meet diverse business needs and accelerate
              digital transformation.</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section>
    <div class="techno">
      <div class="container ">
        <div class="row">
          <div class="col-sm-12 col-md-6 text-padding">
            <div class="why-heading">
              <h1>Creating Excellence with Modern Technologies</h1>
            </div>
            <div class="why-para">
              <p>We at <span class="techno-name techno-logo-name">Engispider</span>, specialize in delivering top-notch
                websites,
                applications, and web solutions
                using high-end technology platforms like <span class="techno-angular techno-logo-name">Angular</span>,
                <span class="techno-react techno-logo-name">React</span>, <span
                  class="techno-js techno-logo-name">JavaScript</span>, <span
                  class="techno-node techno-logo-name">Node.js</span>, <span class="techno-java techno-logo-name">Java
                  Spring Boot</span>, <span class="techno-md techno-logo-name">MongoDB</span>, and <span
                  class="techno-sql techno-logo-name">SQL</span>.
                Our expertise ensures innovative, robust, and scalable solutions tailored to meet your business needs.
              </p>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 text-padding">
            <div class="techno-logo-box">
              <img class="techno-logo techno-logo-1" src="assets/angular.png" alt="Angular Logo">
              <img class="techno-logo techno-logo-2" src="assets/react.png" alt="React Logo">
              <img class="techno-logo techno-logo-3" src="assets/js.png" alt="JavaScript Logo">
              <img class="techno-logo techno-logo-4" src="assets/node.png" alt="Node Js Logo">
              <img class="techno-logo techno-logo-5" src="assets/spring.png" alt="Spring Logo">
              <img class="techno-logo techno-logo-6" src="assets/mongodb.png" alt="MongoDB Logo">
              <img class="techno-logo techno-logo-7" src="assets/sql.png" alt="SQL Logo">
              <img class="techno-logo techno-logo-8" src="assets/java.png" alt="Java Logo">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="rivew-box">
      <div class="row text-centre">
        <h1 class="rivew-head">
          Reviews
        </h1>
      </div>
      <owl-carousel-o [options]="customOptionsTestimonial">
        <ng-container>
          <ng-template carouselSlide>
            <div class="card rivew-card">
              <div class="student-review">
                " EngiSpider's customer service is unparalleled. Their team is not only knowledgeable but also
                incredibly responsive. They took the time to understand our unique requirements and provided tailored
                solutions that perfectly met our needs. Whenever we had questions or concerns, their support team was
                just a call or email away, ready to assist us promptly."
              </div>
              <div class="student-name">Somnath Pathak</div>
              <div class="student-company">Senior Manager, Logistics</div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card rivew-card">
              <div class="student-review">
                "The technical proficiency of the EngiSpider team is impressive. They demonstrated a deep understanding
                of the latest technologies and best practices in the industry. Their innovative approach and attention
                to detail ensured that our project was completed on time and within budget. The quality of their work is
                truly top-notch."
              </div>
              <div class="student-name">K V Singh</div>
              <div class="student-company">Manager, IT</div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card rivew-card">
              <div class="student-review">
                "What truly sets EngiSpider apart is their exceptional support. Even after the project was completed,
                they continued to provide outstanding post-implementation support. They offered comprehensive training
                to our team, ensuring we were fully equipped to utilize the new system effectively. Whenever we
                encountered any issues, their support team was quick to resolve them, minimizing any downtime."
              </div>
              <div class="student-name">Puja Nayak</div>
              <div class="student-company">GM, Human Resource</div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card rivew-card">
              <div class="student-review">
                "EngiSpider offers excellent value for money. Their pricing is competitive, and the quality of their
                service justifies every penny spent. They are transparent with their pricing structure and do not have
                any hidden fees, which is a huge plus."
              </div>
              <div class="student-name">Suraj Pattnayak</div>
              <div class="student-company">AGM, Finance</div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card rivew-card">
              <div class="student-review">
                "Overall, my experience with EngiSpider has been nothing short of exceptional. Their commitment to
                customer satisfaction, combined with their technical prowess, makes them a standout in the industry. I
                highly recommend EngiSpider to anyone looking for reliable, professional, and top-quality service and
                support. They have certainly earned my trust and loyalty."
              </div>
              <div class="student-name">Aarav Agarwal</div>
              <div class="student-company">Vice President</div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </section>

  <!-- <section>
    <div class="deliverables p-5">
      <div class="row text-centre">
        <h1 class="deliverables-head">
          Our Best Deliverables
        </h1>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.9s" data-wow-delay="1.9s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-shield-quarter'></i></div>
            <h1>Gatepass System</h1>
            <p>Enhance your security and streamline visitor management with our advanced gatepass
              system.
              Track and monitor entry and exit points to ensure a secure environment.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-fingerprint'></i></div>
            <h1>Biometric HRMS</h1>
            <p>Effortlessly manage your human resources with our biometric HRMS solution. From
              attendance
              tracking to payroll processing, our system ensures accurate and efficient HR management.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-money-withdraw'></i></div>
            <h1>Financial Module</h1>
            <p>Manage your finances with ease using our comprehensive online financial module. From
              invoicing to expense tracking, our solution simplifies financial management.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-store-alt'></i></div>
            <h1>Inventory Management</h1>
            <p>Optimize your inventory levels, reduce costs, and prevent stockouts with our robust
              inventory management system. Gain real-time visibility into your inventory to make informed decisions.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-user-voice'></i></div>
            <h1>Exceptional Customer Service</h1>
            <p>We provide top-notch service to ensure your satisfaction. Our dedicated support team is
              always ready to assist you, making your experience smooth and hassle-free.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow  fadeInUp animated " data-wow-duration="1.5s" data-wow-delay="1.5s"
            style="visibility: visible; animation-duration: 2s; animation-delay: 1.9s; animation-name: fadeInUp;">
            <div class="hi-icon service-icon"><i class='bx bx-shield-plus'></i></div>
            <h1>Robust Security</h1>
            <p>Protect your data with our advanced security protocols and regular updates.</p>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <section>
    <div class="deliverables p-5">
      <div class="row text-center">
        <h1 class="deliverables-head">
          Powering Businesses with Smart Solutions
        </h1>
      </div>
      <div class="row mt-5">

        <!-- Restaurant Management App -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1s">
            <div class="hi-icon service-icon"><i class='bx bx-restaurant'></i></div>
            <h1>Restaurant Management</h1>
            <p>From table reservations to order tracking, our intuitive restaurant app simplifies operations.
              Enhance customer experience with digital menus, contactless payments, and real-time analytics.</p>
          </div>
        </div>

        <!-- Pharmacy Management App -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.2s">
            <div class="hi-icon service-icon"><i class='bx bx-capsule'></i></div>
            <h1>Pharmacy Management</h1>
            <p>Effortlessly manage inventory, prescriptions, and sales with our powerful pharmacy management system.
              Automate reorders, track medicine expiry, and serve customers better.</p>
          </div>
        </div>

        <!-- Inventory Management -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="2s">
            <div class="hi-icon service-icon"><i class='bx bx-store-alt'></i></div>
            <h1>Inventory Management</h1>
            <p>Never run out of stock! Track products, optimize supply chains, and make data-driven restocking
              decisions.</p>
          </div>
        </div>

        <!-- Gatepass System -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.4s">
            <div class="hi-icon service-icon"><i class='bx bx-shield-quarter'></i></div>
            <h1>Gatepass System</h1>
            <p>Secure your premises with our smart gatepass solution.
              Monitor visitor entries, log records digitally, and enhance security effortlessly.</p>
          </div>
        </div>

        <!-- Biometric HRMS -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.6s">
            <div class="hi-icon service-icon"><i class='bx bx-fingerprint'></i></div>
            <h1>Biometric HRMS</h1>
            <p>Automate attendance tracking, payroll, and employee records with precision.
              Say goodbye to manual errors with our biometric-powered HRMS.</p>
          </div>
        </div>

        <!-- Financial Module -->
        <div class="col-md-4 col-sm-12 p-3 mt-5">
          <div class="deliverables-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.8s">
            <div class="hi-icon service-icon"><i class='bx bx-money-withdraw'></i></div>
            <h1>Financial Module</h1>
            <p>Stay in control of your expenses, invoicing, and cash flow.
              Our financial module ensures seamless budget tracking and automated reports.</p>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section>
    <div class="table-box">
      <div class="table-inn row">
        <div class="col-sm-12 col-md-6 table-head ">
          <div class="row m-3">
            Experience our solution firsthand - request a demo today!
          </div>
          <div class="row m-4">
            <button type="button" class="btn btn-outline-success table-btm" (click)="routeToDemo()">Book for a
              Demo</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 table-img">
          <img src="assets/desk.png" alt="Phone Chat" class="table-image">
        </div>
      </div>
    </div>
  </section>

  <button class="scroll-to-top text-centre align-cntr" (click)="scrollToTop()" *ngIf="isVisible" mat-fab
    matTooltip="Scroll To Top">
    <i class='bx bxs-to-top'></i>
  </button>

  <section id="contact-section">
    <div class="footer">
      <div class="row">

        <div class="col-sm-12 col-md-3 mt-4">
          <div class="text-centre">
            <div class="row align-cntr p-1 ">
              <h2 class="contact-head ">Contacts</h2>
            </div>
            <div>
              <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bx-mobile-vibration'></i></div>
                <div class="col-10"><a class="btm-p" href="tel:7377799937"> +91 73777 99937</a></div>
              </div>
              <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bxs-phone-call'></i></div>
                <div class="col-10"><a class="btm-p" href="tel:+916744617932">+91 674 4617932</a></div>
              </div>
              <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bx-mail-send'></i></div>
                <div class="col-10"><a class="btm-p" href="mailto:info@engispider.com">info@engispider.com</a></div>
              </div>
              <!-- <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bx-mail-send'></i></div>
                <div class="col-10"><a class="btm-p" href="mailto:support@engispider.com">support@engispider.com</a></div>
              </div>
              <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bx-mail-send'></i></div>
                <div class="col-10"><a class="btm-p" href="mailto:accounts@engispider.com">accounts@engispider.com</a></div>
              </div> -->
              <div class="row align-cntr p-1 text-start">
                <div class="col-2"><i class='bx bxs-landmark'></i></div>
                <div class="col-10">
                  <p class="btm-p">Laxmisagar, Bhubaneswar, Odisha 751006</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-12 col-md-3 mt-4">
          <div class="text-centre">
            <div class="row align-cntr p-1 ">
              <h2 class="contact-head ">Social Media</h2>
            </div>
            <div class="row align-cntr p-1">
              <a class="btm-p p-1" href="https://www.instagram.com" target="_blank">Instagram</a>
            </div>
            <div class="row align-cntr p-1">
              <a class="btm-p p-1" href="https://www.facebook.com" target="_blank">Facebook</a>
            </div>
            <div class="row align-cntr p-1">
              <a class="btm-p p-1" href="https://in.linkedin.com" target="_blank">LinkedIn</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mt-4">
          <div class="text-centre">
            <div class="row align-cntr p-1 ">
              <h2 class="contact-head ">Important Links</h2>
            </div>
            <div class="row align-cntr p-1">
              <p class="btm-p" (click)="scrollToSection('services')">Our Services</p>
            </div>
            <div class="row align-cntr p-1">
              <p class="btm-p" (click)="routeToInquery()">Send Inquery</p>
            </div>
            <div class="row align-cntr p-1">
              <p class="btm-p" (click)="routeToDemo()">Book a Demo</p>
            </div>
            <div class="row align-cntr p-1">
              <p class="btm-p" (click)="routeToContacts()">Contact Us</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 text-centre">
          <div class="align-cntr ">
            <img class="footer-logo m-4" src="assets/EngiSpider-Wht.png" alt="Logo">
          </div>
        </div>

      </div>
    </div>
  </section>


</div>